body {
    background-color: lightblue;
}

.fire {
    animation: bg 10s infinite;
}

@keyframes bg {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(45deg);
    }
    50% {
        transform: rotate(90deg);
    }
    75% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(0deg);
    }
}